[submodule "auth-alu0100968590"]
	path = auth-alu0100968590
	url = https://github.com/ULL-ESIT-DSI-1819/auth-alu0100968590.git
[submodule "server-auth-alu0100968590"]
	path = server-auth-alu0100968590
	url = https://github.com/ULL-ESIT-DSI-1819/server-auth-alu0100968590.git
